/* ANIMAÇÕES */

/* At Rules (@):
    @[type] [name] { }
*/

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 100;
        transform: translateY(0px);
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: 
}